# Python
ml_backend/.venv/
ml_backend/__pycache__/
ml_backend/**/*.pyc

# Jupyter
.ipynb_checkpoints/

# Models
ml_backend/saved_models/*.pkl
ml_backend/saved_models/*.joblib

# Environment
.env
.env.*

# Flutter
mobile_app/build/
mobile_app/.dart_tool/
mobile_app/.packages

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db