# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/

# Environment Variables
.env

# Jupyter
.ipynb_checkpoints/

# Model Files
saved_models/*.pkl

# Dataset
data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db